<div class="card" data-id="{{ recipe.id }}">
    {% load thumbnail %}
        {% thumbnail recipe.image "480x480" crop="center" upscale=True as im %}
        <img class="card__image" src="{{ im.url }}" />
    {% endthumbnail %}
    <div class="card__body">
        <a class="card__title link" href="{% url 'recipe' pk=recipe.pk %}">{{recipe.title}}</a>
        <ul class="card__items">
            {% include 'includes/card_tags.html' with tags=recipe.tag.all %}
        </ul>
        <div class="card__items card__items_column">
            <p class="card__text"><span class="icon-time"></span> {{recipe.coocking_time}} мин.</p>
            <p class="card__text"><span class="icon-user"></span> <a href="{% url 'profile' username=recipe.author.username %}" style="text-decoration: none; color: black">{% firstof recipe.author.get_full_name recipe.author.username %}</a></p>
        </div>
    </div>
    <div class="card__footer">
        {% include 'recipe/includes/shopping_list_button.html' %}
        {% include 'recipe/includes/favorite_button.html' %}
    </div>
</div>
