{% extends 'base.html' %}

{% block title %}
    Сброс пароля
{% endblock %}

{% block static %}
    {% load static %}
    {% if validlink %}
        <link rel="stylesheet" href="{% static 'pages/form.css' %}">
    {% else %}
        <link rel="stylesheet" href="{% static 'pages/index.css' %}">
    {% endif %}
{% endblock %}

{% block main_header %}
<div class="main__header">
    {% if validlink %}
        <h1 class="main__title">Сброс пароля</h1>
    {% else %}
        <h1 class="main__title">Ошибка</h1>
    {% endif %}
</div>
{% endblock %}

{% block content %}
    {% if validlink %}
        {% load template_filters %}
        <div class="form-container">
            <form class="form">
                {% csrf_token %}
                <p class="form__info-text">
                    Введите новый пароль.
                </p>
                <div class="form__group">
                    <label for="id_new_password1" class="form__label">Пароль</label>
                    <div class="form__field-group">
                        {{ form.new_password1|addclass:'form__input' }}
                        <span class="form__error">{{ form.new_password1.errors }}</span>
                    </div>
                </div>
                <div class="form__group">
                    <label for="id_new_password2" class="form__label">Подтверждение пароля</label>
                    <div class="form__field-group">
                        {{ form.new_password2|addclass:'form__input' }}
                        <span class="form__error">{{ form.new_password1.errors }}</span>
                    </div>
                </div>
            <div class="form__footer">
                <button class="button button_style_blue">Создать новый пароль</button>
            </div>
            </form>
        </div>
    {% else %}
    <div class="custom-center-block">
        <p class="custom-text-block">
            Ссылка сброса пароля не действительна. <br>
            Попробуйте сбросить пароль заново.
        </p>
        <div class="custom-button-block">
            <a class="button button_style_blue" href="{% url 'password_reset' %}">Сбросить пароль</a>
            <!-- это ссылка на страницу сброса пароля в случае, если 'not validlink', по этому надпись на кнопке такая. 
            Основная кнопка формы выше, называется "Создать новый пароль" -->
        </div>
    </div>
    {% endif %}
{% endblock %}
