{% extends 'base.html' %}

{% block title %}
    Пароль успешно обновлен
{% endblock %}

{% block static %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}

{% block main_header %}
<div class="main__header">
        <h1 class="main__title">Пароль успешно обновлен</h1>
</div>
{% endblock %}

{% block content %}
    <div class="custom-center-block">
        <p class="custom-text-block">
            Пароль успешно обновлен.
        </p>
        <div class="custom-button-block">
            <a class="button button_style_blue" href="{% url 'login' %}">Войти</a>
        </div>
    </div>
{% endblock %}
