{% extends 'base.html' %}

{% block title %}
    <title>Сброс пароля</title>
{% endblock %}

{% block static %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}

{% block main_header %}
<div class="main__header">
        <h1 class="main__title">Сброс пароля</h1>
</div>
{% endblock %}

{% block content %}
        <div class="custom-center-block">
        <p class="custom-text-block">
            На указанный email отправлена ссылка для сброса пароля. <br>
            Если письмо не приходит, попробуйте сбросить пароль повторно, указав корректный email.
        </p>
        <form method='post' action="{% url 'password_reset' %}">
            {% csrf_token %}
            <div class="custom-button-block">
                <button class="button button_style_blue">Сбросить пароль</button>
            </div>
        </form>
    </div>
{% endblock %}
