<nav class="pagination" aria-label="Search results pages">
    {% load template_filters %}
    <ul class="pagination__container">
        {% if page_obj.has_previous %}
        <li class="pagination__item"><a class="pagination__link link" href="?{{ request|update_paginator_url:page_obj.previous_page_number }}"><span class="icon-left"></span></a></li>
        {% endif %}
        {% for page_num in page_obj.paginator.page_range %}
        <li class="pagination__item {% if page_num == page_obj.number %} pagination__item_active {% endif %}">
            <a 
                class="pagination__link link" 
                {% if page_obj.number != page_num %} href="?{{ request|update_paginator_url:page_num }}" {% endif %}>
                {{ page_num }}
            </a></li>
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="pagination__item"><a class="pagination__link link" href="?{{ request|update_paginator_url:page_obj.next_page_number }}"><span class="icon-right"></span></a></li>
        {% endif %}
    </ul>
</nav>
