<ul class="tags">
    {% load template_filters %}
    {% for tag in tags %}
        <li class="tags__item">
            <a 
                id="{{tag.name}}" 
                class="
                    tags__checkbox tags__checkbox_style_{{tag.color}} 
                    {% if tag.slug in request.get_full_path %} tags__checkbox_active {% endif %}
                    " 
                href="?{{ request|update_tag_url:tag }}"></a>
            <span class="tags__label">{{ tag.name }}</span>
        </li>
    {% endfor %}
</ul>
