{% extends 'base.html' %}
{% load template_filters %}

{% block title %}
    {% if 'edit' in request.path %}
        Измененить рецепт
    {% else %}
        Создать рецепт
    {% endif %}
{% endblock %}

{% block static %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}

{% block nav %}
    {% include 'includes/nav.html' with active='create' %}
{% endblock %}


{% block  main_header %}
    <div class="main__header">
        <h1 class="main__title">
            {% if 'edit' in request.path %}
                Измененить рецепт
            {% else %}
                Создать рецепт
            {% endif %}
        </h1>
    </div>
{% endblock %}


{% block content %}
    <div class="form-container">
        <form class="form" method="post" enctype="multipart/form-data" autocomplete="off">
            {% csrf_token %}
            <div class="form__group">
                <label for="{{ form.title.id_for_label }}" class="form__label">{{ form.title.label }}</label>
                <div class="form__field-group">
                    {{ form.title|addclass:'form__input' }}
                    {% for error in form.title.errors %}
                    <span class="form__error">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="form__group">
                <p class="form__label">Теги</p>
                <div class="form__field-group">
                    <div class="tags">
                        {% for tag in form.fields.tags.choices.queryset %}
                            <div class="tags__item">
                                <input 
                                    type="checkbox" name="{{ form.tags.html_name }}" id="id_{{ tag.slug }}" 
                                    class="tags__checkbox tags__checkbox_style_{{ tag.color }}"
                                    value="{{ tag.id }}" 
                                    {% if tag.pk|stringformat:'s' in form.tags.value or tag in form.instance.tags.all %} checked {% endif %}
                                >
                                <label for="id_{{ tag.slug }}" class="tags__label">{{ tag.name }}</label>
                            </div>
                        {% endfor %}
                    </div>
                    {% for error in form.tags.errors %}
                    <span class="form__error">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="form__group">
                <label for="nameIngredient" class="form__label">Ингредиенты</label>
                <div class="form__field-group">
                    <div class="form__field-group-ingredientes">
                        <div class="form__dropdown">
                            <input type="text" id="nameIngredient" class="form__input">
                            <div class="form__dropdown-items"></div>
                        </div>
                        <input type="number" id="cantidad" class="form__input" min="0">
                        <label for="cantidad" class="form__label" id="cantidadVal">шт.</label>
                    </div>
                    <div class="form__field-group-ingredientes-container">
                        {% for name, data in ingredients.items %}
                            <div class="form__field-item-ingredient" id="ing_{{ forloop.counter }}"><span> {{ name }} — {{ data.0 }} {{ data.1 }}</span> <span class="form__field-item-delete"></span>
                                <input id="nameIngredient_{{ forloop.counter }}" name="nameIngredient_{{ forloop.counter }}" type="hidden" value="{{ name }}">
                                <input id="valueIngredient_{{ forloop.counter }}" name="valueIngredient_{{ forloop.counter }}" type="hidden" value="{{ data.0 }}">
                                <input id="unitsIngredient_{{ forloop.counter }}" name="unitsIngredient_{{ forloop.counter }}" type="hidden" value="{{ data.1 }}">
                            </div>
                        {% endfor %}
                    </div>
                    <span class="form__ingredient-link" id="addIng">Добавить ингредиент</span>
                    <span class="form__error">
                        {% for error in form.ingredients.errors %}
                            <span class="form__error">{{ error }}</span>
                        {% endfor %}
                    </span>
                </div>
            </div>
            <div class="form__group">
                <label for="{{ form.coocking_time.id_for_label }}" class="form__label">{{ form.coocking_time.label }}</label>
                <div class="form__field-group form__field-group_time">
                        {{ form.coocking_time|addclass:'form__input' }}
                    <label for="{{ form.coocking_time.id_for_label }}" class="form__label">минут</label>
                    <span class="form__error">
                        {% for error in form.coocking_time.errors %}
                            <span class="form__error">{{ error }}</span>
                        {% endfor %}
                    </span>
                </div>
            </div>
            <div class="form__group">
                <label for="{{ form.description.id_for_label }}" class="form__label">{{ form.description.label }}</label>
                <div class="form__field-group">
                    {{ form.description|addclass:'form__textarea' }}
                    <span class="form__error">
                        {% for error in form.description.errors %}
                            <span class="form__error">{{ error }}</span>
                        {% endfor %}
                    </span>
                </div>
            </div>
            <div class="form__group">
                <span class="form__label">Загрузить фото</span>
                <div class="form__field-group">
                    {{ form.image|addclass:"form__file-button" }}
                    <input type="file" name="{{ form.image.name }}" id="{{ form.image.id_for_label }}" class="form__file">
                    <span class="form__error"></span>
                </div>
            </div>
            {% if 'edit' in request.path %}
                <div class="form__footer">
                    <button class="button button_style_blue"> Сохранить </button> 
                    <a style="margin-left: 2.5em"
                        href="{% url 'delete_recipe' form.instance.author.username form.instance.id %}"
                        class="form__ingredient-link"> Удалить
                    </a>
                </div>
                {% else %}
                <div class="form__footer">
                    <button class="button button_style_blue">Создать рецепт</button>
                </div>
                {% endif %}
        </form>
    </div>
{% endblock %}

{% block paginator %}
    {% if page.has_other_pages %}
        {% include 'includes/paginator.html' %}
    {% endif %}
{% endblock %}

{% block scripts %}

<script src={% static "/js/config/config.js" %}></script>
<script src={% static "/js/components/Header.js" %}></script>
<script src={% static "/js/utils/debouncing.js" %}></script>
<script src={% static "/js/api/Api.js" %}></script>
<script src={% static "/formRecipe.js" %}></script>

{% endblock %}
