{% extends 'base.html' %}

{% block title %}
    {{ recipe.title }}
{% endblock %}

{% block static %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'pages/single.css' %}">
{% endblock %}

{% block nav %}
    {% include 'includes/nav.html' with active='index' %}
{% endblock %}

{% block content %}
    {% include 'recipe/includes/recipe_detail.html' %}
{% endblock %}


{% block scripts %}

{% if user.is_authenticated %}
    <script src={% static "js/components/Purchases.js" %}></script>
    <script src={% static "js/components/Favorites.js" %}></script>
    <script src={% static "js/components/Subscribe.js" %}></script>
{% endif %}

<script src={% static "js/config/config.js" %}></script>

<script src={% static "js/components/MainCards.js" %}></script>
<script src={% static "js/components/SingleCard.js" %}></script>
<script src={% static "js/components/Header.js" %}></script>
<script src={% static "js/api/Api.js" %}></script>
{% if user.is_authenticated %}
    <script src={% static "singlePage.js" %}></script>
{% else %}
    <script src={% static "singlePageNotAuth.js" %}></script>
{% endif %}

{% endblock %}
